@import url('https://fonts.googleapis.com/css?family=Mukta');
// Colors
$primary-dark: #041122;
$primary: #071e3d;
$secondary: #1f4287;
$accent: #278ea5;

$pink: #FF1493;

// Fonts
$primary-font: 'Mukta', sans-serif;